.cancel-debt-laptop {
    border-radius: 8px;
    display: flex;
    max-width: 25vw;
    margin: 10px auto;
    flex-direction: column;
}

.cancel-debt-mobile {
    border-radius: 8px;
    display: flex;
    max-width: 95vw;
    margin: 10px auto;
    flex-direction: column;
}

.cancel-debt-header-image {
    background-size: cover;
}

.green {
    color: green;
}

.red {
    color: red;
}