<div [ngClass]="{'cancel-debt-mobile': (isMobile$ | async), 'cancel-debt-laptop': (isMobile$ | async) === false}">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ECRAN.CANCELDEBT.TITRE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <input type="file" (change)="uploadedFile($event)"
                   placeholder="{{ 'ECRAN.FICHIER.SELECTIONNER' | translate }}" accept=".xlsx">
        </mat-card-content>
        <mat-card-actions>
            <div fxFlexFill fxLayoutAlign="center" fxLayout="space-between center">
                <button *ngIf="!!worksheet" mat-button (click)="onClick()">
                    <mat-icon>file_upload</mat-icon>
                    {{ 'ECRAN.FICHIER.IMPORTER' | translate }}
                </button>
                <mat-icon class="green" *ngIf="!!cancelDebtOK">done</mat-icon>
                <mat-icon class="red" *ngIf="!!errorMessage">error</mat-icon>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
