.form {
    max-width: 85vw;
    resize: none;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.export-client-laptop {
    border-radius: 8px;
    display: flex;
    max-width: 25vw;
    margin: 10px auto;
    flex-direction: column;
}

.export-client-mobile {
    border-radius: 8px;
    display: flex;
    max-width: 95vw;
    margin: 10px auto;
    flex-direction: column;
}

.export-client-header-image {
    background-size: cover;
}
