<div [ngClass]="{'export-client-mobile': (isMobile$ | async), 'export-client-laptop': (isMobile$ | async) === false}">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ECRAN.EXPORTER' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form" [formGroup]="exportClientForm">

                <mat-form-field class="full-width">
                    <mat-label>{{ 'ECRAN.EXPORT.MONTANT' | translate }}</mat-label>
                    <input matInput placeholder="Montant minimum de créance" formControlName="montant">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>{{ 'ECRAN.EXPORT.DATE' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div fxLayoutAlign="center" fxLayout="space-between center">
                    <button mat-button (click)="exporter()">
                        <mat-icon>file_download</mat-icon>
                        {{ 'ECRAN.EXPORTER' | translate }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
