<mat-sidenav-container>
    <mat-sidenav [attr.role]="'region'"
                 [mode]="'over'"
                 [opened]="menu"
                 [autoFocus]="false"
                 [disableClose]="true"
                 class="sidenav"
                 fixedInViewport>
        <mat-nav-list class="nav-list">
            <div class="nav-list-top">
                <button mat-button (click)=closeMenu()>
                    <mat-icon>highlight_off</mat-icon>
                </button>
                <app-account *ngIf="(isMobile$ | async)"></app-account>
            </div>
            <a routerLink="export" mat-list-item>{{ 'ECRAN.TAB.EXPORT' | translate }}</a>
            <a routerLink="import" mat-list-item>{{ 'ECRAN.TAB.IMPORT' | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <div class="flex">
                <mat-toolbar-row class="toolbar-row">
                    <button
                            (click)="openMenu()"
                            *ngIf="isMobile$ | async"
                            aria-label="Toggle sidenav"
                            mat-icon-button
                            type="button">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>

                    <img [ngClass]="{'img-laptop': (isMobile$ | async) === false, 'img-mobile': (isMobile$ | async)}" src="{{imagePath}}">

                    <div *ngIf="(isMobile$ | async) === false">
                        <span class="title-laptop">{{ 'ECRAN.TITRE' | translate }}</span>
                    </div>
                    <div class="title-mobile" *ngIf="(isMobile$ | async)">
                        <span class="title-mobile-ligne">{{ 'ECRAN.OPERATION' | translate }}</span>
                        <span class="title-mobile-ligne">{{ 'ECRAN.PAIEMENT' | translate }}</span>
                    </div>

                    <div *ngIf="(isMobile$ | async) === false">
                        <a class="button" routerLink="export" mat-raised-button>{{ 'ECRAN.TAB.EXPORT' | translate }}</a>
                        <a class="button" routerLink="import" mat-raised-button>{{ 'ECRAN.TAB.IMPORT' | translate }}</a>
                    </div>
                </mat-toolbar-row>
            </div>
        </mat-toolbar>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner [name]="'spinner'" color="#FF8C00" type="ball-clip-rotate-pulse"></ngx-spinner>