@import '~@angular/material/theming';
@include mat-core();

$orange-app-primary: mat-palette($mat-orange, 800);
$orange-app-accent:  mat-palette($mat-orange, 800);
$orange-app-warn:    mat-palette($mat-red, A700);

$orange-app-theme: mat-light-theme($orange-app-primary, $orange-app-accent, $orange-app-warn);

@include angular-material-theme($orange-app-theme);
